body {
    height: 100%;
    background-image: linear-gradient(gray, blue);
    background-repeat: no-repeat;
}

.navbar {
    position: relative;
    overflow: hidden;

}


footer {
    position: fixed;
    height: 10rem;
    width: 100%
}

.card-button {
    margin: 5px;
    
}

input {
    margin: 5px;
}

.card {
    margin: 5px;
}